@import url("./fonts.css");
@import url("./varriable.css");
/*=========*/
body {
  background: #ECF0F5;
}

/*====nav-start=====*/
header {
  position: relative;
  width: 100%;
  height: 4rem;
}

header .navs {
  position: fixed;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  z-index: 1111;
}

header .navs .nav-top {
  width: 55%;
  background: #333;
  float: left;
}

header .navs .nav-top .nav-brands {
  float: left;
  height: 100%;
  margin-left: 1.2rem;
}

header .navs .nav-top .nav-brands h3 {
  font-family: var(--poppins1);
  color: #fff;
  font-size: 22px;
  padding: 18px 5px;
}

header .navs .nav-bottom {
  width: 45%;
  background: #333;
  height: 4rem;
  float: right;
}

header .navs .nav-bottom .menu-btn {
  width: 5rem;
  color: var(--high-color);
  display: inline;
  font-size: 21px;
  padding: 8px 2px;
}

header .navs .nav-bottom .menu-btn .open-btn,
header .navs .nav-bottom .menu-btn #open-btn {
  margin-left: 20px;
  display: none;
  z-index: 10;
  cursor: pointer;
}

header .navs .nav-bottom .menu-btn .close-btn,
header .navs .nav-bottom .menu-btn #close-btn {
  margin-left: 21px;
  display: none;
  z-index: 10;
  cursor: pointer;
}

header .navs .nav-bottom .user {
  width: 18rem;
  margin-right: 7px;
  float: right;
}

header .navs .nav-bottom .user .user-img {
  float: left;
  display: inline;
  padding: 13px 3px;
}

header .navs .nav-bottom .user .user-img img {
  width: 35px;
  height: 35px;
  float: left;
  display: inline;
}

header .navs .nav-bottom .user .user-name {
  display: inline;
  float: left;
  padding: 14px 3px;
}

header .navs .nav-bottom .user .user-name p {
  display: inline;
  color: var(--high-color);
}

header .navs .nav-bottom .user .user-name p:hover {
  color: #dfdddd;
}

header .navs .nav-bottom .user .log-in {
  float: right;
  padding: 11px 3px;
  padding-right: 17px;
}

header .navs .nav-bottom .user .log-in .btn-infos {
  background: #008080;
  color: #fff;
}

@media screen and (max-width: 993px) {
  header .navs {
    height: 8rem;
  }
  header .navs .nav-top {
    width: 100vw;
  }
  header .navs .nav-bottom {
    width: 100%;
  }
  header .navs .nav-bottom .menu-btn #open-btn {
    display: inline;
  }
  main .side-menu,
  main #side-menu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 0;
    margin-top: 4rem;
    display: none;
  }
  main .main-dashboard,
  main #main-dashboard {
    width: 100%;
  }
}

/*=====nav-end====*/
@media screen and (max-width: 668px) {
  header .navs {
    height: 10rem;
  }
  header .navs .nav-top {
    width: 100vw;
  }
  header .navs .nav-bottom {
    margin-top: -3px;
    width: 100%;
  }
  header .navs .nav-bottom .menu-btn #open-btn {
    display: inline;
  }
  main .side-menu,
  main #side-menu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 0;
    margin-top: 4rem;
    display: none;
  }
  main .main-dashboard,
  main #main-dashboard {
    width: 100%;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 475px) {
  header .navs {
    height: 10rem;
  }
  header .navs .nav-top {
    width: 100vw;
  }
  header .navs .nav-top .nav-brands {
    margin-left: 0px;
    padding-left: 2px;
  }
  header .navs .nav-top .nav-brands h3 {
    font-size: 18px;
  }
  main .side-menu,
  main #side-menu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 0;
    margin-top: 4rem;
    display: none;
  }
  main .main-dashboard,
  main #main-dashboard {
    width: 100%;
    margin-top: 5rem;
  }
  main .main-dashboard .dashboard-name .edit-btn,
  main #main-dashboard .dashboard-name .edit-btn {
    margin-top: 0.1rem;
  }
}

/*=====nav-end====*/
/*===== MAIN START====*/
main {
  width: 100%;
  height: 100vh;
}

main section.side-menu {
  width: 17%;
  position: fixed;
  min-height: 100vh;
  background: #008080;
  float: left;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  z-index: 1111;
  overflow-y: auto;
}

main section.side-menu .menubar {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  z-index: 1111;
}

main section.side-menu .menubar ul {
  padding-left: 0;
  min-height: 100vh;
  z-index: 1111;
}

main section.side-menu .menubar ul li {
  list-style: none;
  padding: 9px 3px;
  padding-left: 1rem;
  font-family: var(--poppins1);
  font-size: 15px;
}

main section.side-menu .menubar ul li p {
  color: #9c9a9a;
  padding-left: 13px;
  padding-bottom: 0;
}

main section.side-menu .menubar ul li i {
  color: #dbd4d4;
  padding-left: 7px;
  padding-right: 10px;
  font-size: 14px;
}

main section.side-menu .menubar ul li a {
  color: #dbd4d4;
  text-decoration: none;
}

main section.side-menu .menubar ul li p {
  margin-top: 10px;
}

main section.side-menu .menubar ul li:hover {
  background: #016868;
}

main section.side-menu .menubar ul li:first-child {
  background: var(--text-color);
  padding-bottom: 0;
}

main .main-dashboard {
  width: 83%;
  float: right;
  min-height: 36rem;
  position: relative;
}

main .main-dashboard .dashboard {
  margin-left: 40%;
  padding-top: 7px;
}

main .main-dashboard .dashboard p {
  padding-top: 5px;
}

main .main-dashboard .dashboard p strong {
  color: #838282;
}

main .main-dashboard .dashboard-name {
  width: 100%;
  font-family: var(--poppins1);
}

main .main-dashboard .dashboard-name .large {
  display: inline;
  float: left;
  margin-left: 3rem;
}

main .main-dashboard .dashboard-name .large p {
  font-size: 35px;
  padding-right: 16px;
}

main .main-dashboard .dashboard-name .smalls {
  display: inline;
}

main .main-dashboard .dashboard-name .smalls p {
  font-size: 22px;
  margin-top: 10px;
}

main .main-dashboard .dashboard-name .edit-btn {
  float: right;
  margin-right: 2rem;
  margin-top: -2.7rem;
  z-index: -1111;
}

main .main-dashboard .dashboard-name .edit-btn a {
  color: #fff;
  z-index: -1111;
}

main .main-dashboard .dashboard-name .edit-btn a i {
  font-size: 14px;
  color: #fff;
}

main .main-dashboard .dashboard-div {
  padding: 8px;
  width: 100%;
}

main .main-dashboard .dashboard-div .containersm {
  padding: 1rem;
}

main .main-dashboard .dashboard-div .containers {
  margin: 1rem;
  background: #fff;
  border: 1px solid #0f98d8;
  padding: 1rem;
}

main .main-dashboard .dashboard-div .containers label {
  text-transform: capitalize;
  font-weight: 600;
}

main .main-dashboard .dashboard-div .containers label i {
  font-size: 8px;
}

main .main-dashboard .dashboard-div .containers .employe-img {
  width: 7rem;
  height: 7rem;
  margin-bottom: 4rem;
}

main .main-dashboard .dashboard-div .containers .employe-img img {
  width: 100%;
  height: 100%;
  display: inline;
  float: left;
}

main .main-dashboard .dashboard-div .containers .employe-img .input-file {
  display: inline;
  margin-bottom: 3rm;
}

main .main-dashboard .dashboard-div .containers .address {
  background: #555;
  width: 12rem;
  color: #fff;
  padding: 5px 5px;
  text-align: center;
}

main .main-dashboard .dashboard-div .containers .general_info {
  width: 80%;
  height: 60%;
  margin: 0 auto;
}

main .main-dashboard .dashboard-div .containers .general_info img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 1px 1px #555;
          box-shadow: 1px 1px 1px 1px #555;
}

main .main-dashboard .dashboard-div .save-cancel-btn {
  margin-bottom: 2rem;
}

main .main-dashboard .dashboard-div .save-cancel-btn .save-btn {
  display: inline;
  margin-left: 40%;
}

main .main-dashboard .dashboard-div .save-cancel-btn .cancel-btn {
  display: inline;
  margin-left: 10px;
}

main .main-dashboard .dashboard-div .info-1 {
  height: 6rem;
  width: 100%;
}

main .main-dashboard .dashboard-div .info-1 .info-left {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}

main .main-dashboard .dashboard-div .info-1 .info-left i {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-top: 22px;
}

main .main-dashboard .dashboard-div .info-1 .info-right {
  width: 75%;
  float: right;
  height: 6rem;
}

main .main-dashboard .dashboard-div .info-1 .info-right .inf {
  height: 100%;
  padding: 7px 5px;
}

main .main-dashboard .dashboard-div .info-1 .info-right .inf h5 {
  padding: 3px 2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  main .main-dashboard .dashboard {
    margin-left: 20%;
  }
  main .main-dashboard .dashboard-name .large {
    margin-left: 1rem;
  }
}

/*===== MAIN END====*/
/*====Login section====*/
/*======Log-IN-page-start=======*/
section .log-in-page {
  position: relative;
  width: 100%;
  background-position: center;
}

section .log-in-page .logs-in {
  margin-top: 4rem;
  width: 30rem;
  height: 30rem;
  position: absolute;
  margin: 7% auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  left: 32%;
  border: 1px solid var(--info-color);
}

section .log-in-page .logs-in .users {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: var(--info-color);
  margin: 0 auto;
  margin-top: -3rem;
}

section .log-in-page .logs-in .users i {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.3rem !important;
  font-size: 34px;
}

section .log-in-page .logs-in span {
  color: var(--info-color);
  font-size: 32px;
  font-family: var(--roboto);
  font-weight: 700;
  padding: 0rem 2rem;
  text-align: center;
}

section .log-in-page .logs-in .log {
  margin-top: 0.5rem;
}

section .log-in-page .logs-in .inner-log-in {
  margin-top: 0.2rem;
}

section .log-in-page .logs-in .inner-log-in .input {
  display: block;
  width: 20rem;
  height: 3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  outline: none !important;
  border: 2px solid var(--info-color);
  border-radius: 2rem;
}

section .log-in-page .logs-in .inner-log-in input {
  padding-left: 1rem;
}

section .log-in-page .logs-in .inner-log-in .input:focus {
  width: 21rem;
}

section .log-in-page .logs-in .inner-log-in button {
  outline: none;
  width: 20rem;
  height: 3rem;
  border: var(--info-color);
  border-radius: 2rem;
  background: var(--info-color);
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section .log-in-page .logs-in .inner-log-in button:hover {
  background: #019c9c;
  color: #fff;
  width: 21rem;
}

section .log-in-page .logs-in .inner-log-in a {
  padding: 4px 3px;
  display: block;
  text-transform: capitalize;
  color: #555;
  text-decoration: none;
}

section .log-in-page .logs-in .inner-log-in a:hover {
  color: #3498DB;
}

section .log-in-page .pds {
  padding: 15px 3px;
}

section .log-in-page .pds h5 {
  text-transform: uppercase;
  font-family: var(--abril);
  font-size: 22px;
  color: #333;
  padding: 6px 3px;
}

section .log-in-page .log-footer {
  background: #008080;
  width: 27rem;
  height: 5rem;
  border: 1px solid var(--info-color);
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

section .log-in-page .log-footer a {
  margin-top: 6px;
  display: inline;
}

section .log-in-page .log-footer a img {
  margin-top: 6px;
  width: 4rem;
  height: 4rem;
}

/*=====login section====*/
/****log in page start******/
@media (max-width: 1024px) {
  section .log-in-page .logs-in {
    width: 30rem;
    height: 25rem;
    margin: 12% auto;
    left: 22%;
  }
}

@media (max-width: 768px) {
  section .log-in-page .logs-in {
    width: 30rem;
    height: 25rem;
    margin: 12% auto;
    left: 19%;
  }
  section .log-in-page .logs-in .users {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: -3rem;
  }
  section .log-in-page .logs-in .users i {
    margin-top: 2.3rem !important;
    font-size: 34px;
  }
  section .log-in-page .logs-in span {
    color: var(--primary-color);
    font-size: 32px;
    padding: 0rem 2rem;
  }
  section .log-in-page .logs-in .log {
    margin-top: 0.5rem;
  }
  section .log-in-page .logs-in .inner-log-in {
    margin-top: 1.5rem;
  }
  section .log-in-page .logs-in .inner-log-in .input {
    width: 15rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in .input:focus {
    width: 16rem;
  }
  section .log-in-page .logs-in .inner-log-in button {
    width: 15rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in button:hover {
    width: 16rem;
  }
}

@media (max-width: 575px) {
  section .log-in-page .logs-in {
    width: 22rem;
    height: 27rem;
    margin: 25% auto;
    left: 8%;
  }
  section .log-in-page .logs-in .inner-log-in .input {
    width: 15rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in .input:focus {
    width: 16rem;
  }
  section .log-in-page .logs-in .inner-log-in button {
    width: 15rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in button:hover {
    width: 16rem;
  }
  section .log-in-page .logs-in .log-footer {
    width: 19rem;
  }
}

@media (max-width: 360px) {
  section .log-in-page .logs-in {
    width: 20rem;
    height: 25rem;
    margin: 25% auto;
    left: 5%;
  }
  section .log-in-page .logs-in .inner-log-in .input {
    width: 11rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in .input:focus {
    width: 12rem;
  }
  section .log-in-page .logs-in .inner-log-in button {
    width: 11rem;
    height: 2rem;
  }
  section .log-in-page .logs-in .inner-log-in button:hover {
    width: 12rem;
  }
  section .log-in-page .logs-in .log-footer {
    width: 17rem;
  }
}

/****log in page end******/
/*=============FOOTER SECTION START=================*/
footer {
  width: 100%;
  float: right;
  background: #013b61;
  min-height: 7rem;
}

footer h5 {
  color: #fff;
  font-size: 17px;
  font-weight: none;
}

footer h5 a img {
  width: 4rem;
  height: 4rem;
}

footer .help {
  margin-top: -1.3rem;
}

/****footer section start******/
@media (max-width: 993px) {
  footer {
    width: 100%;
  }
}

/****footer section end******/
/*=============FOOTER SECTION END=================*/
/*# sourceMappingURL=style.css.map */