@import url('./fonts.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root{
    --poppins1:"Poppins1",cursive;
    --poppins2:"Poppins2",cursive;
    --abril:"Abril_Fateface",cursive;
    --parata:"Prata",sans-serif;
    --roboto:"Roboto",cursive;
    --lato:"Lato",cursive;
    --princess-sofia:"Princess_Sofia",cursive;
    --sofia:"Sofia",cursive;
    --gugi:"Gugi",cursive;
    --primary-color:#ec5b53;
    --secondary-color:#2BBBAD;
    --text-color:#008080;
    --high-color:#FEF8F8;
    --gradient-color:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    --primary1-color:#3498DB;
    --info-color:#3498DB;

}